html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1e1e1e;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 2em;
}
.correct {
  color: #2ecc71;
}
.incorrect {
  color: #e74c3c;
}
.squiggle {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom:2px dotted red;
}
.squiggle:after {
  content: '';
  width: 100%;
  border-bottom:2px dotted red;
  position: absolute;
  font-size: 1em;
  top: calc(1em - 1px);
  bottom: -1px;
  left: -2px;
  display: block;
}
.countdown {
  font-size: 1.5em;
  margin-bottom: 1rem;
}
.panel {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 80vw;
  height: 350px;
  padding: 2em;
  background: rgba(50, 50, 50, 0.6);
  border-radius: 30px;
  box-shadow: rgba(0,0,0,0.25) 0.25rem 0.25rem 0.25rem 0;
}
.panel-controls {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #34495e;
  color: #000;
  text-decoration: none;
  box-shadow: rgba(0,0,0,0.25) 0.25rem 0.25rem 0.25rem 0;
  filter: brightness(1);
  transition: filter 0.25s;
}
.btn:hover {
  filter: brightness(1.25);
}
.btn.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  box-shadow: none;
}
.btn h1 {
  margin: 0;
}
.btn p {
  margin-bottom: 0;
}
.btn:not(.big-red) {
  color: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
}
.btn.big-red {
  width: 8rem;
  height: 8rem;
  background: #e74c3c;
  font-size: 3em;
  border: 6px solid black;
  border-radius: 50%;
}
.options {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-around;
}
.multichoice {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 0.5rem;
}
.img-loader {
  height: 210px;
  margin-bottom: 1em;
  background: rgba(233, 233, 233, 0.5);
  animation: fadeloop 1s infinite;
}
@keyframes fadeloop {
  0% {
    background: rgba(233, 233, 233, 0.5);
  }
  50% {
    background: rgba(233, 233, 233, 0.25);
  }
  0% {
    background: rgba(233, 233, 233, 0.5);
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #2A2A2A;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #2A2A2A;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}